@import url('https://fonts.googleapis.com/css?family=Copse|Delius+Swash+Caps|Gabriela|Unkempt&display=swap');
html{
  scroll-behavior: smooth;
}
.landing{
  background-image: url('../assets/backgrounds/h_img.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(255, 255, 255);
  text-align: center;
  padding-top:17%; 
  font-family: 'Gabriela', serif;
}

.landing h1{
  color: black;
  padding: 2px;
  margin: 5px;
}

.landing p{
  color: black;
  padding: 2px;

}
#logo{
  margin-top: 12px;
  margin-bottom: 24px;
  width: 70px;
  height: 70px;;
}

#mouse-click{
  padding-top : 22px;
  margin-top: 10%;
  padding-bottom: 30px; 
}

#mouse-click {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-55px);
  }
  60% {
    transform: translateY(-45px);
  }
}

.about{
  text-align: center;
  padding-bottom: 30px;
  padding-top:40px;
  font-family: 'Copse', serif;
}
#about{
  font-family: 'Gabriela', serif;
}
.services{
  text-align: center;
  background-image: url("../assets/backgrounds/s_image.jpg");
  color: white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Copse', serif;
  font-size: 18px;
}
.services h2{
  font-family: 'Gabriela', serif;
  
}
#servicesdashboard{
  background-color: rgba(0,0,0,0.4);
  padding-top: 10%;
  padding-bottom: 10%;
}
.what-we-do{
  font-family: 'Quattrocento', serif;
  text-align: center;
  padding-top: 40px;
  font-family: 'Gabriela', serif;
}
.what-we-do .headings{
  padding-bottom: 38px;
}
#portfolio{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left:18%;
  margin-right: 16%; 
}
.col-md-3 img{
  max-width: 100%;
  max-height: 100%;
}
.portfolio h2{
  text-align: center;
  padding-top:40px;
  font-family: 'Gabriela', serif;
}

#product, #development, #design{
  display: none;
  font-family: 'Copse', serif;
  font-size: 16px;
}
#product .title, #development .title, #design .title{
  font-size: 20px;
  font-weight: 600;
}
#overlay,#overlay2,#overlay3,#overlay4,#overlay5,#overlay6,#overlay7,#overlay8{
  display: none;
  color: black;
  width: 100%;
  height: 100%;
  background-color:rgba(255, 255, 255, 0.456);
  position:absolute;
  top: 20px;
  left: 35px;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  padding-top: 50%;
  font-family: 'Delius Swash Caps', cursive;
  opacity: 1;
}
  .col-md-3 img{
    width:100%px;
    margin: 20px;
  }
  .image1:hover,
  .image2:hover,
  .image3:hover,
  .image4:hover,
  .image5:hover,
  .image6:hover,
  .image7:hover,
  .image8:hover{
    opacity: 0.3;
  }
  .text:hover{
    opacity: 1;
  }
  #portfolio{
    margin-left:8%;
    margin-right: 16%; 
  }
  button{
    margin-left: 2%;
    padding-bottom: 30px;
    margin-bottom: 20px;
  }

  .contact{
    background-image: url('../assets/backgrounds/c_image.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(231, 207, 207);
  }
  

  .contact-title {
    color: white;
    padding-top: 1rem;
    width: 330px;
    margin: 0 auto;
    text-transform: uppercase;
    padding-bottom: 1rem;
    text-align: center;
}

.contact-name-email {
    width: 330px;
    margin: 0 auto;
}

.contact-name-email input {
    width: 320px;
    margin-bottom: 1rem;
    padding: 0.5rem;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    border: 2px solid white;
}

.contact-textarea {
    width: 330px;
    margin: 0 auto;
}

.contact-textarea textarea {
    width: 330px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    border: 2px solid white;
}



.button {
  padding: 0.5rem;
  width: 330px;
  margin: 0 auto;
  border-radius: 0.2rem;
  border: 1px solid hsl(224, 93%, 58%);
  color: white;
  ;
}

button:hover {
  border: 1px solid hsl(0, 0%, 0%);
}
  .contact h2{
    text-align: center;
    margin-top: 30px;
    padding-top: 40px;
    padding-bottom: 20px;
    font-family: 'Gabriela', serif;
  }

  
.form-control::-webkit-input-placeholder { 
  color: white; 
}

footer{
  text-align: center;
  padding-top: 30px;
  font-family: 'Delius Swash Caps', cursive;
}
footer p{
  margin-top: 10px;
}
